#eventos-container{
  padding-bottom: 300px;
}

.hoja-evento1 {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 10%;
}

.hoja-evento2 {
    position: absolute;
    right: 0;
    top: 30%;
    width: 10%;
}

.hoja-evento3 {
    position: absolute;
    width: 8%;
    top: 7%;
}

.hoja-evento4 {
    position: absolute;
    width: 10%;
    top: 55%;
}

.eventos{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.evento {
  width: 55%;
  text-align: center;
  margin-bottom: 50px;
}

.img-evento{
  object-fit: contain;
  width: 100%;
  height: 17vh;
}

.title-evento{
  color: #5A5C54;
  font-weight: bolder;
}

.text-evento{
  color: #5A5C54;
}

#pinterest-link{
  color: #FF8C68;
}

@media only screen and (max-width: 1136px){
  .hoja-evento1 {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 16%;
  }
  .hoja-evento4 {
    position: absolute;
    width: 15%;
    top: 72%;
  }
  .hoja-evento3 {
    position: absolute;
    width: 13%;
    top: 18%;
  }
  .hoja-evento2 {
    position: absolute;
    right: 0;
    top: 43%;
    width: 16%;
  }
  .title-evento{
    color: #5A5C54;
    font-weight: bolder;
    font-size: 35px;
  }
  .text-evento{
    font-size: 16px;
  }

.img-evento {
    object-fit: contain;
    width: 100%;
    height: 10vh;
  }
  .evento {
    width: 55%;
    text-align: center;
    margin-bottom: 10px;
  }
}

@media only screen and (max-width: 768px){

  .hoja-evento1 {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 16%;
  }
  .title-evento{
    color: #5A5C54;
    font-weight: bolder;
    font-size: 20px;
  }
  .text-evento{
    font-size: 14px;
  }
  #eventos-container {
    padding-bottom: 150px;
  }
}

@media only screen and (max-width: 428px){
  .hoja-evento4 {
    position: absolute;
    width: 18%;
    top: 72%;
  }
  .hoja-evento3 {
    position: absolute;
    width: 15%;
    top: 12%;
  }
  .hoja-evento2 {
    position: absolute;
    right: 0;
    top: 37%;
    width: 23%;
  }
  .hoja-evento1 {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 10%;
  }
  .title-evento{
    font-size: 18px;
  }

  .text-evento{
    font-size: 11px;
  }
  .img-evento {
    object-fit: contain;
    width: 100%;
    height: 8vh;
  }
}
