.home-container{
    padding-top: 50px;
    padding-bottom: 150px;
    min-height: 100vh;
    position: relative;
    width: 100vw;
    overflow: hidden;
}

.hoja-home-1 {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 13%;
}

.hoja-home-2 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 11%;
}

.hoja-home-3 {
    position: absolute;
    width: 8%;
    top: 25%;
}

.hoja-home-4 {
    position: absolute;
    left: 84%;
    top: 50%;
    width: 20%;
}

.box-home{
  width: 90%;
  margin: auto;
  height: 80vh;
}

.img-home {
    height: 80vh;
    width: 90%;
    margin: auto;
}

.home-pic{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: top;
}

.text-home{
  width: 90%;
  text-align: center;
  margin: auto;
  margin-top: 30px;
}

.title-text-home{
    font-size: 45px;
    color: #5A5C54;
}

.subtitle-text-home{
    font-size: 25px;
    color: #79917C;
}

@media only screen and (max-width: 1136px){
  .hoja-home-4 {
    position: absolute;
    left: 81%;
    top: 63%;
    width: 34%;
  }
  .hoja-home-3 {
    position: absolute;
    width: 13%;
    top: 25%;
  }
  .hoja-home-1 {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 23%;
  }
  .hoja-home-2 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 20%;
  }
  .img-home {
    height: 75vh;
    width: 100%;
    margin: auto;
  }
  .title-text-home {
    font-size: 45px;
    color: #5A5C54;
    margin-bottom: 0;
  }

.subtitle-text-home {
    font-size: 25px;
    color: #79917C;
    margin-bottom: 0;
  }
  .text-home {
    width: 90%;
    text-align: center;
    margin: auto;
    margin-top: 20px;
  }
}

@media only screen and (max-width: 768px){
  .hoja-home-4 {
    position: absolute;
    left: 81%;
    top: 58%;
    width: 34%;
  }
  .hoja-home-1 {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 30%;
  }
  .hoja-home-2 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 30%;
  }

  .home-container {
    padding-top: 11px;
    min-height: 100vh;
  }
  .text-home{
    width: 90%;
    text-align: center;
    margin: auto;
    margin-top: 20px;
  }
  .title-text-home {
    font-size: 45px;
    color: #5A5C54;
    margin-bottom: 0;
  }
  .subtitle-text-home {
    font-size: 25px;
    color: #79917C;
    margin-bottom: 0;
  }
}

@media only screen and (max-width: 428px){
  .hoja-home-4 {
    position: absolute;
    left: 78%;
    top: 51%;
    width: 42%;
  }
  .hoja-home-3 {
    position: absolute;
    width: 19%;
    top: 21%;
  }
  .hoja-home-1 {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 40%;
  }
  .hoja-home-2 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 35%;
  }
  .img-home {
    height: 60vh;
    width: 100%;
    margin: auto;
  }
  .text-home {
    width: 100%;
    text-align: center;
    margin: auto;
    margin-top: 10px;
  }
  .title-text-home {
    font-size: 30px;
    color: #5A5C54;
    margin-bottom: 0;
  }
  .subtitle-text-home {
    font-size: 19px;
    color: #79917C;
    margin-bottom: 0;
  }
}
