.hoja-pty1 {
    position: absolute;
    width: 8%;
    top: 6%;
}

.hoja-pty2 {
    position: absolute;
    right: 0;
    top: 15%;
    width: 11%;
}

.hoja-pty3 {
    position: absolute;
    right: 0;
    top: 31%;
    width: 14%;
}

.hoja-pty4{
  position: absolute;
  width: 8%;
  top: 40%;
}

.hoja-pty5{
  position: absolute;
  right: 0;
  top: 54%;
  width: 13%;
}

.hoja-pty6 {
    position: absolute;
    width: 9%;
    top: 68%;
}

#coral-text{
  color: #FF8C68;
}
#coral-link{
  color: #FF8C68;
}

#pty-box{
  margin-bottom: 130px;
}
.pty-title-place{
  color: #FF8C68;
  font-weight: bold;
  text-align: center;
  width: 70%;
  margin: auto;
}

.info-box{
    width: 80%;
    display: flex;
    margin: auto;
    justify-content: space-between;
    margin-top: 50px;
}

.pty-text{
  color: #707070;
}

.right{
  width: 46%;
}

.left{
  width: 46%;
}

.pty-pic{
  width: 100%;
}

#portobelo-pic{
  box-shadow: -15px 10px 0 0 #9eb190;
  width: 100%;
}

#sanblas-pic{
  box-shadow: -15px 10px 0 0 #707654;
}

#kayak-pic{
  box-shadow: 15px 10px 0 0 #9eb190;
}

#canal-pic{
  height: 50vh;
  margin-top: 50px;
}

#pty-pic{
  margin-top: 50px;
}

#senderismo-pic{
   box-shadow: -15px 10px 0 0 #707654;
}

#ancon-pic{
  box-shadow: -15px 10px 0 0 #9eb190;
}

#solid{
  border: 3px solid #FF8C68;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  opacity: 1;
}

.recomendaciones{
  display: flex;
  width: 65%;
  margin: auto;
  justify-content: space-between;
  margin-top: 50px;
  margin-bottom: 50px;
}

.title-recom{
  color: #5A5C54;
}

.recom-p{
  color: #9EB190;
}

.list-recom{
  color: #5A5C54
}

.weekend-trip-box{
  margin-top: 60px;
  margin-bottom: 60px;
}

.trips{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 80%;
    margin: auto;
    margin-top: 60px;
}

.trip{
  width: 30%;
  padding-top: 40px;
  padding-bottom: 40px;
}

.trip img{
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.wknd-title{
  color: #5A5C54;
  font-weight: bold;
  text-align: center;
}

.wknd-text{
  margin-top: 40px;
  text-align: center;
}

.wknd-text h3{
  color: #FF8C68;
}

.wknd-text li{
  color: #5A5C54;
}

.rest-box{
  display: flex;
  width:  80%;
  margin:  auto;
  justify-content: space-between;
}

.rest-title{
      text-align: center;
    margin-bottom: 50px;
    margin-top: 50px;
}

.rest-type{
  margin-bottom: 50px;
}

.rest-type h3{
  color: #FF8C68;
}


@media only screen and (max-width: 1136px){
  .hoja-pty6 {
    position: absolute;
    width: 15%;
    top: 75%;
  }
  .hoja-pty5 {
    position: absolute;
    right: 0;
    top: 54%;
    width: 21%;
  }
  .hoja-pty4 {
    position: absolute;
    width: 14%;
    top: 40%;
  }

  .hoja-pty3 {
    position: absolute;
    right: 0;
    top: 30%;
    width: 19%;
  }

  .pty-title-place {
    color: #FF8C68;
    font-weight: bold;
    text-align: center;
    width: 80%;
    margin: auto;
    font-size: 35px;
  }

  .info-box {
    width: 85%;
    display: flex;
    margin: auto;
    justify-content: space-between;
    margin-top: 30px;
    flex-wrap: wrap;
    margin-bottom: 90px;
  }
  .left{
    width: 100%;
  }
  .right{
    width: 100%;
  }
  .pty-text {
    color: #707070;
    font-size: 25px;
    margin-bottom: 7px;
  }

  #left-special {
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #pty-box {
    margin-bottom: 45px;
  }
  #portobelo-pic {
    box-shadow: -15px 10px 0 0 #9eb190;
    width: 87%;
    margin-top: 10px;
  }
  #sanblas-pic {
    box-shadow: -15px 10px 0 0 #707654;
    width: 87%;
  }
  #kayak-pic {
    box-shadow: 15px 10px 0 0 #9eb190;
    width: 87%;
    margin-top: 10px;
  }
  #right-special {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  #canal-pic {
    height: 35vh;
    margin-top: 10px;
    width: 87%;
  }
  #pty-pic {
    margin-top: 10px;
    width: 87%;
  }

  #senderismo-pic {
    box-shadow: -15px 10px 0 0 #707654;
    width: 87%;
  }

  #ancon-pic {
    box-shadow: -15px 10px 0 0 #9eb190;
    width: 87%;
  }
  #valle-pic {
    width: 87%;
  }
  .recomendaciones {
    display: flex;
    width: 85%;
    margin: auto;
    justify-content: space-between;
    margin-top: 0;
    margin-bottom: 0;
    flex-direction: row;
  }
  .title-recom {
    color: #5A5C54;
    font-size: 35px;
    text-align: left;
    width: 100%;
  }
  .list-recom {
    color: #5A5C54;
    font-size: 20px;
    text-align: left;
    width: 100%;
  }
  .recom-p {
    color: #9EB190;
    font-size: 18px;
    text-align: left;
  }

  #solid {
    border: 2px solid #FF8C68;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    opacity: 1;
  }
  .weekend-trip-box {
    margin-top: 0;
    margin-bottom: 0;
  }
  .wknd-title {
    color: #5A5C54;
    font-weight: bold;
    text-align: center;
    width: 93%;
    margin: auto;
    font-size: 35px;
  }
  .trips {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 93%;
    margin: auto;
    margin-top: 0px;
  }
  .trip {
    width: 50%;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
  }
  .trip img {
    width: 85%;
    height: 180px;
    object-fit: cover;
    margin: auto;
    margin-top: 0;
    margin-bottom: 0;
  }
  .wknd-text {
    margin-top: 20px;
    text-align: center;
  }
  .wknd-text h3 {
    color: #FF8C68;
    font-size: 25px;
  }
  .wknd-text li {
    color: #5A5C54;
    font-size: 18px;
    width: 50%;
    text-align: initial;
  }

  .list-wknd{
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
  }
  .rest-title {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 0;
    font-size: 35px;
    color: #5A5C54;
  }

  .rest-box {
    display: flex;
    width: 93%;
    margin: auto;
    justify-content: space-between;
    flex-direction: row;
  }
  .rest-type {
    margin-bottom: 25px;
  }
  .rest-type h3 {
    color: #FF8C68;
    font-size: 30px;
    text-align: left;
    width: 85%;
    margin: auto;
  }
  .list-rests{
    width: 85%;
    margin: auto;
  }

.hoja-pty1 {
    position: absolute;
    width: 14%;
    top: 3.5%;
  }
  .hoja-pty2 {
    position: absolute;
    right: 0;
    top: 13.5%;
    width: 16%;
  }
}

@media only screen and (max-width: 768px){
  .hoja-pty6 {
    position: absolute;
    width: 15%;
    top: 72%;
  }
  .hoja-pty5 {
    position: absolute;
    right: 0;
    top: 52%;
    width: 21%;
  }
  .hoja-pty3 {
    position: absolute;
    right: 0;
    top: 29%;
    width: 19%;
  }
  .hoja-pty2 {
    position: absolute;
    right: 0;
    top: 11%;
    width: 16%;
  }

  .pty-title-place {
    color: #FF8C68;
    font-weight: bold;
    text-align: center;
    width: 93%;
    margin: auto;
    font-size: 20px;
  }

  .info-box {
    width: 85%;
    display: flex;
    margin: auto;
    justify-content: space-between;
    margin-top: 15px;
    flex-wrap: wrap;
  }
  .left{
    width: 100%;
  }
  .right{
    width: 100%;
  }
  .pty-text {
    color: #707070;
    font-size: 16px;
    margin-bottom: 7px;
  }
  #left-special {
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #pty-box {
    margin-bottom: 45px;
  }
  #portobelo-pic {
    box-shadow: -15px 10px 0 0 #9eb190;
    width: 75%;
    margin-top: 10px;
  }
  #sanblas-pic {
    box-shadow: -15px 10px 0 0 #707654;
    width: 75%;
  }
  #kayak-pic {
    box-shadow: 15px 10px 0 0 #9eb190;
    width: 75%;
    margin-top: 10px;
  }
  #right-special {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  #canal-pic {
    height: 35vh;
    margin-top: 10px;
    width: 75%;
  }
  #pty-pic {
    margin-top: 10px;
    width: 75%;
  }

  #senderismo-pic {
      box-shadow: -15px 10px 0 0 #707654;
      width: 75%;
  }
  #ancon-pic {
    box-shadow: -15px 10px 0 0 #9eb190;
    width: 75%;
  }
  #valle-pic {
    width: 75%;
  }
  .recomendaciones {
    display: flex;
    width: 85%;
    margin: auto;
    justify-content: space-between;
    margin-top: 0;
    margin-bottom: 0;
    flex-direction: row;
  }
  .title-recom {
    color: #5A5C54;
    font-size: 18px;
    text-align: left;
    width: 100%;
  }

  .list-recom {
    color: #5A5C54;
    font-size: 13px;
    text-align: left;
    width: 100%;
  }

  .recom-p {
    color: #9EB190;
    font-size: 13px;
    text-align: left;
  }

  #solid {
    border: 2px solid #FF8C68;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    opacity: 1;
  }
  .weekend-trip-box {
    margin-top: 0;
    margin-bottom: 0;
  }
  .wknd-title {
    color: #5A5C54;
    font-weight: bold;
    text-align: center;
    width: 93%;
    margin: auto;
    font-size: 18px;
  }
  .trips {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 93%;
    margin: auto;
    margin-top: 0px;
  }
  .trip {
    width: 50%;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
  }
  .trip img {
    width: 85%;
    height: 180px;
    object-fit: cover;
    margin: auto;
    margin-top: 0;
    margin-bottom: 0;
  }
  .wknd-text {
    margin-top: 20px;
    text-align: center;
  }
  .wknd-text h3 {
    color: #FF8C68;
    font-size: 18px;
  }
  .wknd-text li {
    color: #5A5C54;
    font-size: 13px;
    width: 47%;
    text-align: initial;
  }
  .list-wknd{
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
  }
  .rest-title {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 0;
    font-size: 18px;
    color: #5A5C54;
  }
  .rest-box {
    display: flex;
    width: 93%;
    margin: auto;
    justify-content: space-between;
    flex-direction: row;
  }
  .rest-type {
    margin-bottom: 25px;
  }
  .rest-type h3 {
    color: #FF8C68;
    font-size: 18px;
    text-align: left;
    width: 85%;
    margin: auto;
  }
  .list-rests{
    width: 85%;
    margin: auto;
  }
}

@media only screen and (max-width: 428px){
  .hoja-pty6 {
    position: absolute;
    width: 16%;
    top: 61.5%;
  }
  .hoja-pty5 {
    position: absolute;
    right: 0;
    top: 43.5%;
    width: 21%;
  }
  .hoja-pty4 {
    position: absolute;
    width: 17%;
    top: 32%;
  }
  .hoja-pty3 {
    position: absolute;
    right: 0;
    top: 28%;
    width: 23%;
  }


  .pty-title-place {
    color: #FF8C68;
    font-weight: bold;
    text-align: center;
    width: 93%;
    margin: auto;
    font-size: 18px;
  }
  .info-box {
    width: 93%;
    display: flex;
    margin: auto;
    justify-content: space-between;
    margin-top: 15px;
    flex-wrap: wrap;
  }
  .left{
    width: 100%;
  }
  .right{
    width: 100%;
  }
  .pty-text {
    color: #707070;
    font-size: 13px;
    margin-bottom: 7px;
  }
  #left-special {
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #pty-box {
    margin-bottom: 45px;
  }
  #portobelo-pic {
    box-shadow: -15px 10px 0 0 #9eb190;
    width: 85%;
    margin-top: 10px;
  }
  #sanblas-pic {
    box-shadow: -15px 10px 0 0 #707654;
    width: 85%;
  }
  #kayak-pic {
    box-shadow: 15px 10px 0 0 #9eb190;
    width: 85%;
    margin-top: 10px;
  }
  #right-special {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  #canal-pic {
    height: 35vh;
    margin-top: 10px;
    width: 85%;
  }
  #pty-pic {
    margin-top: 10px;
    width: 85%;
  }

#senderismo-pic {
    box-shadow: -15px 10px 0 0 #707654;
    width: 85%;
  }
  #ancon-pic {
    box-shadow: -15px 10px 0 0 #9eb190;
    width: 85%;
  }
  #valle-pic{
    width: 85%;
  }
  .recomendaciones {
    display: flex;
    width: 70%;
    margin: auto;
    justify-content: space-between;
    margin-top: 0;
    margin-bottom: 0;
    flex-direction: column;
  }
  .title-recom {
    color: #5A5C54;
    font-size: 18px;
    text-align: center;
  }

  .list-recom {
    color: #5A5C54;
    font-size: 13px;
    text-align: left;
    width: 100%;
  }

  .recom-p {
    color: #9EB190;
    font-size: 13px;
    text-align: center;
  }

  #solid {
    border: 2px solid #FF8C68;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    opacity: 1;
  }
  .weekend-trip-box {
    margin-top: 0;
    margin-bottom: 0;
  }
  .wknd-title {
    color: #5A5C54;
    font-weight: bold;
    text-align: center;
    width: 93%;
    margin: auto;
    font-size: 18px;
  }
  .trips {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 93%;
    margin: auto;
    margin-top: 0px;
  }
  .trip {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
  }
  .trip img {
    width: 85%;
    height: 180px;
    object-fit: cover;
    margin: auto;
  }
  .wknd-text {
    margin-top: 20px;
    text-align: center;
  }
  .wknd-text h3 {
    color: #FF8C68;
    font-size: 18px;
  }
  .wknd-text li {
    color: #5A5C54;
    font-size: 13px;
    width: 49%;
    text-align: initial;
  }
  .list-wknd{
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
  }
  .rest-title {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 0;
    font-size: 18px;
    color: #5A5C54;
  }
  .rest-box {
    display: flex;
    width: 93%;
    margin: auto;
    justify-content: space-between;
    flex-direction: column;
  }
  .rest-type {
    margin-bottom: 25px;
  }
  .rest-type h3 {
    color: #FF8C68;
    font-size: 18px;
    text-align: center;
  }
  .list-rests{
    width: 85%;
    margin: auto;
  }
}
