.container-panama{
    width: 100vw;
    overflow: hidden;
    position: relative;
}
#weekend-trip{
  margin: 0;
  margin-bottom: 50px;
}

.locationText4{
  margin-left: 0;
}

#first-box{
  margin-top: 45px;
}
#panama-title{
  padding-bottom: 1%;
}

#rest-der{
  margin-left: 0;
}

#reserva-link {
    color: #5A5C54;
    text-align: center;
    margin-bottom: 60px;
    font-size: 16px;
    width: 40%;
    margin: auto;
}

#reserva-link a{
  color: #FF8C68;
}
#subtitle{
    color: #ff8c68;
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 24px;
    line-height: 26px;
    font-weight: bold;
    text-align: center;
    padding-bottom: 0;
    margin-bottom: 0;
}

#ptyhoja{
  top: 50%;
}

.hoja-pty1{
    position: absolute;
    height: 4%;
    top: 4%;
    z-index: 1;
}

.hoja-pty4{
    position: absolute;
    height: 4%;
    top: 30%;
    z-index: 1;
}

.hoja-pty3{
    position: absolute;
    right: 0;
    height: 4%;
    top: 20%;
}

.hoja-pty2{
      position: absolute;
    right: 0;
    top: 7%;
    height: 4%;
    z-index: 1;
}

.panama-box{
  padding-bottom: 100px;
}

#casco-pic{
  margin-top: 20px;
}

#camino-pic{
  width: 93%;
  margin-bottom: 4%;
  position: absolute;
  left: 0;
  box-shadow: -15px 10px 0px 0px #707654;
  margin-top: 13px;
}

#panama{
  justify-content: space-around;
  min-height: 70vh;
}

#panama-special{
  justify-content: space-around;
  height: auto;
  padding-bottom: 50px;
}

#panama-special3{
  justify-content: space-around;
  height: auto;
  padding-bottom: 50px;
}

#panama-special2{
  justify-content: space-around;
  height: auto;
  padding-bottom: 0px;
  padding-top: 0;
}

#ancon-pic{
  width: 93%;
  margin-bottom: 4%;
  position: absolute;
  left: 0;
  box-shadow: -15px 10px 0px 0px #9EB190;
  margin-top: 13px;
}

#fuerte-pic{
    width: 82%;
    margin-bottom: 4%;
    position: absolute;
    right: 0;
    box-shadow: -15px 10px 0px 0px #9EB190;
}

#canal-pic2{
  height: 350px;
}

#sanblas-pic{
    width: 97%;
    margin-bottom: 4%;
    position: absolute;
    right: 0;
    box-shadow: -15px 10px 0px 0px #707654;
}

#canal-pic{
    width: 97%;
    margin-bottom: 4%;
    position: absolute;
    right: 0;
    box-shadow: 15px 10px 0px 0px #9eb190;
}

#valle-pic{
    margin-bottom: 4%;
    position: absolute;
    right: 0;
}

#subtitle2{
    color: #ff8c68;
    width: 40%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 24px;
    line-height: 26px;
    margin-top: 4%;
    margin-bottom: 2%;
}

.basicInfo {
    color: #5a5c54;
    font-weight: 450;
    text-align: left;
    font-size: 16px;
    /* width: 80%; */
    margin-left: 10%;
}

.basicInfoRight {
    color: #5a5c54;
    font-weight: 450;
    text-align: left;
    font-size: 16px;
    margin-right: 10%;
}

#textoCoral {
    color: #ff8c68;
}

.daytripPic {
    width: 100%;
    margin-bottom: 4%;
}

.paragraphRight2 {
    position: relative;
    width: 40%;
    text-align: center;
}

#restaurante-column{
  width: auto;
}

.paragraphLeft2 {
    position: relative;
    width: 40%;
    text-align: center;
}

.basicInfo2 {
    color: #5a5c54;
    font-weight: 450;
    text-align: left;
    font-size: 16px;
    /* width: 80%; */
    margin-left: 10%;
    height: 20vh;
}

.basicInfoRight2 {
    color: #5a5c54;
    font-weight: 450;
    text-align: left;
    font-size: 16px;
    margin-right: 10%;
    height: auto;
}

.daytripPic2 {
    min-width: 100% !important;
    height: 45%;
    object-fit: cover;
    margin-bottom: 4%;
}

.fullWidth2 {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding-top: 6%;
}

.solid {
    border: 3px solid #FF8C68;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    opacity: 1;
}

.locationText2 {
    color: #5a5c54;
    font-weight: 600;
    padding-bottom: 2%;
    letter-spacing: 2px;
    text-align: left;
}

.basicInfoRight3 {
    color: #79917c;
    font-weight: 600;
    text-align: left;
    font-size: 14px;
    margin-right: 10%;
}

.paragraphRight4 {
    position: relative;
    width: 30%;
    margin-left: 10%;
    margin-right: 3%;
    text-align: center;
}

.locationText3 {
    color: #ff8c68;
    font-weight: 600;
    font-size: 24px;
    padding-bottom: 2%;
    padding-top: 4%;
    letter-spacing: 2px;
    text-align: center;
}

.LocationInfoRight {
    text-align: initial;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    font-size: 15px;
    color: #5A5C54;
}

.LocationPic {
    min-width: 100% !important;
    min-height: 250px;
    max-height: 250px;
    object-fit: cover;
    margin-bottom: 4%;
}

.paragraphCenter {
    position: relative;
    width: 30%;
    text-align: center;
}

.paragraphLeft4 {
    position: relative;
    width: 30%;
    margin-left: 3%;
    margin-right: 10%;
    text-align: center;
}

.locationText4 {
    color: #ff8c68;
    font-weight: 600;
    font-size: 24px;
    padding-bottom: 2%;
    padding-top: 10%;
    letter-spacing: 2px;
    text-align: left;
    margin-left: 10%;
}

.locationText5 {
    color: #ff8c68;
    font-weight: 600;
    font-size: 24px;
    padding-bottom: 2%;
    padding-top: 10%;
    letter-spacing: 2px;
    text-align: left;
}

.LastfullWidth{
    justify-content: space-around;
    width: 80%;
    display: flex;
    flex-direction: row;
    margin: auto;
    padding-bottom: 10%;
}

@media (max-width: 1200px){
  #ptyhoja {
    top: 42%;
  }
  #panama{
    flex-direction: row;
    width: 100%;
  }
  .hoja-pty1 {
    position: absolute;
    height: 3%;
    top: 4%;
    z-index: 1;
  }
  .hoja-pty4 {
    position: absolute;
    height: 3%;
    top: 26%;
    z-index: 1;
  }
  .hoja-pty2 {
    position: absolute;
    right: 0;
    top: 6.5%;
    height: 3%;
    z-index: 1;
  }
  .hoja-pty3 {
    position: absolute;
    right: 0;
    height: 3%;
    top: 17%;
  }
}
@media (max-width: 1025px) and (min-width: 121px){
  #reserva-link {
      color: #5A5C54;
      text-align: center;
      margin-bottom: 60px;
      font-size: 16px;
      width: 51%;
      margin: auto;
  }
  .hoja-pty1 {
    position: absolute;
    height: 3%;
    top: 5%;
    z-index: 1;
  }
  .hoja-pty2 {
    position: absolute;
    right: 0;
    top: 10.5%;
    height: 2%;
    z-index: 1;
  }
  #panama {
    justify-content: space-around;
    min-height: 60vh;
    padding-bottom: 0px;
  }
  .panama-box {
    padding-bottom: 51px;
  }
  .sanblas{
    min-height: 52vh !important;
  }
  .kayaks{
    min-height: 40vh !important;
  }
  .canal{
    min-height: 53vh!important;
  }
  .valle{
    min-height: 40vh !important;
  }
  .hoja-pty4 {
    position: absolute;
    height: 2%;
    top: 30%;
    z-index: 1;
  }
  .list-recom{
    display: flex !important;
    flex-direction: row !important;
  }
  .gamboa{
    height: 100% !important;
  }
  #panama-special2{
    display: flex;
    flex-direction: row;
  }
  .LocationPic{
    width: 100%;
  }
  .LocationInfoRight{
    margin: 0;
  }
  .locationText4 {
    color: #ff8c68;
    font-weight: 600;
    font-size: 24px;
    padding-bottom: 2%;
    padding-top: 10%;
    letter-spacing: 2px;
    text-align: left;
    margin-left: 0;
  }
  #rest-izq{
    margin-left: 0;
  }
}

@media (max-width: 1020px){
  .hoja-pty3 {
    position: absolute;
    right: 0;
    height: 2%;
    top: 15%;
  }

  .hoja-pty2 {
    position: absolute;
    right: 0;
    top: 7.5%;
    height: 2%;
    z-index: 1;
  }
  .hoja-pty1 {
    position: absolute;
    height: 3%;
    top: 5%;
    z-index: 1;
  }

  .hoja-pty4 {
    position: absolute;
    height: 3%;
    top: 26%;
    z-index: 1;
  }

  #panama {
    flex-direction: row;
    width: 100%;
    padding-bottom: 0;
  }
  .panama-box {
    padding-bottom: 0;
  }

  #panama .valle{
    min-height: 50vh;
  }

  .valle{
    min-height: 50vh!important;
  }

  .sanblas{
    min-height: 60vh !important;
  }

  .kayaks{
    min-height: 40vh !important;
  }

  .basicInfo2{
    margin-left: 0;
  }

  .canal{
    min-height: 58vh !important;
  }

  .tour{
    margin-bottom: 45px !important;
  }

  .gamboa{
    width: 100%;
  }

  .locationText{
    text-align: left;
  }

  .locationText2{
    text-align: left;
  }

  .basicInfo {
    margin-left: 0;
  }

  .recom{
    width: 90% !important;
  }
  .list-recom{
    width: 76% !important;
    padding-bottom: 0 !important;
  }
  .paragraphRight4 {
    position: relative;
    width: 90%;
    text-align: center;
    margin: auto;
    margin-bottom: 35px;
  }

  .paragraphCenter {
    position: relative;
    width: 90%;
    text-align: center;
    margin: auto;
    margin-bottom: 35px;
  }

  .paragraphLeft4 {
    position: relative;
    width: 90%;
    text-align: center;
    margin: auto;
    margin-bottom: 35px;
  }
  .locationText3 {
    color: #ff8c68;
    font-weight: 600;
    font-size: 24px;
    padding-bottom: 2%;
    padding-top: 0;
    letter-spacing: 2px;
    text-align: left;
  }

  .LocationInfoRight {
    text-align: initial;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    font-size: 15px;
    color: #5A5C54;
    display: flex;
    flex-wrap: wrap;
  }

  .LocationInfoRight li{
    width: 50%;
  }

  .LastfullWidth {
    justify-content: center;
    width: 90%;
    display: flex;
    flex-direction: column;
    margin: auto;
    padding-bottom: 10%;
    align-items: center;
  }

  .locationText4 {
    color: #ff8c68;
    font-weight: 600;
    font-size: 24px;
    padding-bottom: 2%;
    padding-top: 10%;
    letter-spacing: 2px;
    text-align: left;
    margin-left: 0;
  }

  #restaurante-column {
    width: 90%;
  }
}

@media (max-width: 800px){
 .hoja-pty2 {
    position: absolute;
    right: 0;
    top: 10.8%;
    height: 1.2%;
    z-index: 1;
}

  #column-panama{
        min-height: 48vh;
        width: 80%;
  }
  .valle-column{
    min-height: 53vh !important;
  }

  .sanblas-column{
    min-height: 32vh !important;
  }

  .senderismo-column{
    min-height: 63vh!important;
  }

  .ancon-column{
    min-height: 50vh !important;
  }

  #column-panama-special{
        min-height: 40vh;
        width: 80%;
  }

  #column-panama-special2{
        min-height: 55vh;
        width: 80%;
  }

  #column-panama-special3{
        min-height: 70vh;
        width: 80%;
  }

  #column-panama-special4 {
    min-height: 20vh;
    width: 100%;
  }

  #panama {
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-bottom: 0;
  }
  #fuerte-pic {
    position: relative;
  }

  #subtitle {
    margin-bottom: 30px;
  }

  .basicInfo{
    margin-left: 0;
  }

  .panama-box {
    padding-bottom: 50px;
  }

  #canal-pic {
    width: 97%;
    margin-bottom: 4%;
    position: relative;
    right: 0;
    box-shadow: 15px 10px 0px 0px #9eb190;
  }
  .basicInfo2 {
    color: #5a5c54;
    font-weight: 450;
    text-align: left;
    font-size: 16px;
    /* width: 80%; */
    margin-left: 0;
    height: auto;

  }

  #panama-special3{
    justify-content:flex-start;
    height: auto;
    padding-bottom: 50px;
    align-items: flex-start;
  }

  .paragraphRight4 {
    position: relative;
    width: 90%;
    text-align: center;
    margin: auto;
    margin-bottom: 35px;
  }

  .paragraphCenter {
    position: relative;
    width: 90%;
    text-align: center;
    margin: auto;
    margin-bottom: 35px;
  }

  .paragraphLeft4 {
    position: relative;
    width: 90%;
    text-align: center;
    margin: auto;
    margin-bottom: 35px;
  }

  .locationText3 {
    color: #ff8c68;
    font-weight: 600;
    font-size: 24px;
    padding-bottom: 2%;
    padding-top: 0;
    letter-spacing: 2px;
    text-align: left;
  }

  .LocationInfoRight {
    text-align: initial;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    font-size: 15px;
    color: #5A5C54;
    display: flex;
    flex-wrap: wrap;
    padding-left: 20px;
  }

  .LocationInfoRight li{
    width: 50%;
  }

  .LastfullWidth {
    justify-content: center;
    width: 90%;
    display: flex;
    flex-direction: column;
    margin: auto;
    padding-bottom: 10%;
    align-items: center;
  }

  .locationText4 {
    color: #ff8c68;
    font-weight: 600;
    font-size: 24px;
    padding-bottom: 2%;
    padding-top: 10%;
    letter-spacing: 2px;
    text-align: left;
    margin-left: 0;
  }

  #restaurante-column {
    width: 90%;
  }

  .titleText {
    color: #5a5c54;
    font-weight: 600;
    padding-bottom: 3%;
    padding-top: 3%;
    font-size: 20px;
  }
  #subtitle {
    color: #ff8c68;
    width: 85%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 17px;
    line-height: 26px;
    font-weight: bold;
    text-align: center;
    padding-bottom: 0;
    margin-bottom: 20px;
  }
  .basicInfo {
    color: #5a5c54;
    font-weight: 450;
    text-align: left;
    font-size: 14px;
  }
  .basicInfoRight {
    color: #5a5c54;
    font-weight: 450;
    text-align: left;
    font-size: 14px;
    margin-right: 0;
  }
  #canal-pic2 {
    height: 350px;
    width: 100%;
  }

  .tour{
    margin-bottom: 0!important;
  }
  .locationText {
    font-size: 20px;
  }

  .locationText2 {
    text-align: left;
    font-size: 20px;
  }


.LocationPic {
    min-width: 100% !important;
    min-height: 250px;
    max-height: 250px;
    -o-object-fit: cover;
    object-fit: cover;
    margin-bottom: 4%;
    width: 100%;
}
.hoja-pty1 {
    position: absolute;
    height: 1.5%;
    top: 2%;
    z-index: 1;
}

.hoja-pty4 {
    position: absolute;
    height: 1.5%;
    top: 30%;
    z-index: 1;
}

.hoja-pty3 {
    position: absolute;
    right: 0;
    height: 2%;
    top: 18%;
    /* z-index: 1; */
}

#ptyhoja {
    top: 39%;
}

}


@media only screen and (max-width: 800px) and (min-width: 500px){
  .valle-column {
    min-height: 59vh !important;
  }
  #column-panama-special {
    min-height: 20vh;
    width: 80%;
  }
  .sanblas-column {
    min-height: 52vh !important;
  }
  #column-panama {
    min-height: 35vh;
    width: 80%;
  }
  .ancon-column {
    min-height: 62vh !important;
  }
}


@media only screen and (max-width: 280px){
  #panama-title {
    padding-bottom: 1%;
    font-size: 16px;
  }
  #reserva-link {
    color: #5A5C54;
    text-align: center;
    margin-bottom: 45px;
    font-size: 12px;
    width: 95%;
    margin: auto;
  }
  #subtitle {
    color: #ff8c68;
    width: 85%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 14px;
    line-height: 26px;
    font-weight: bold;
    text-align: center;
    padding-bottom: 0;
    margin-bottom: 0px;
  }
  #column-panama {
    min-height: 48vh;
    width: 80%;
    margin-top: 20px;
  }
  .panama-box {
    padding-bottom: 30px;
  }
  #column-panama-special {
    min-height: 40vh;
    width: 80%;
    margin-top: 25px;
  }
  #canal-pic2 {
    height: 200px;
    width: 100%;
  }
  .senderismo-column {
    min-height: 86vh!important;
  }
  .ancon-column {
    min-height: 56vh !important;
  }
  .valle-column {
    min-height: 64vh !important;
  }
  .locationText {
    font-size: 20px;
    margin-bottom: 20px;
  }
  .locationText2 {
    font-size: 20px;
    margin-bottom: 20px;
  }
  .list-recom {
    width: 80% !important;
    padding-bottom: 0 !important;
  }
  #panama-special2 {
    justify-content: space-around;
    height: auto;
    padding-bottom: 0px;
    padding-top: 0;
    align-items: center;
  }
  .locationText3 {
    color: #ff8c68;
    font-weight: 600;
    font-size: 21px;
    padding-bottom: 2%;
    padding-top: 0;
    letter-spacing: 2px;
    text-align: left;
  }
  .LocationInfoRight li {
    width: 100%;
  }
  #weekend-trip {
    margin: 0;
    margin-bottom: 20px;
  }
  .hoja-pty1 {
    position: absolute;
    height: 0.9%;
    top: 2.4%;
    z-index: 1;
  }
  .hoja-pty2 {
    position: absolute;
    right: 0;
    top: 10.3%;
    height: 1%;
    z-index: 1;
  }
  .hoja-pty4 {
    position: absolute;
    height: 1%;
    top: 30.6%;
    z-index: 1;
  }
  #ptyhoja {
    top: 39.6%;
    height: 0.6%;
  }
}


@media only screen and (max-height: 720px){
  .valle-column {
    min-height: 66vh !important;
  }
  .senderismo-column {
    min-height: 72vh!important;
  }
  #reserva-link {
    color: #5A5C54;
    text-align: center;
    margin-bottom: 60px;
    font-size: 14px;
    width: 76%;
    margin: auto;
  }
  .hoja-pty1 {
    position: absolute;
    height: 1.5%;
    top: 3%;
    z-index: 1;
  }
  .hoja-pty4 {
    position: absolute;
    height: 1.5%;
    top: 32%;
    z-index: 1;
  }
  #ptyhoja {
    top: 40.2%;
  }

}

@media only screen and (max-width: 320px){
  .valle-column {
    min-height: 72vh !important;
  }
}

@media only screen and (max-width: 375px){
  #reserva-link {
    color: #5A5C54;
    text-align: center;
    margin-bottom: 60px;
    font-size: 10px;
    width: 90%;
    margin: auto;
  }
  #first-box {
    margin-top: 30px;
  }
  .hoja-pty1 {
    position: absolute;
    height: 1.3%;
    top: 2.4%;
    z-index: 1;
  }
  .hoja-pty2 {
    position: absolute;
    right: 0;
    top: 10.4%;
    height: 1.2%;
    z-index: 1;
  }
  #canal-pic2 {
    height: 250px;
    width: 100%;
  }
  .hoja-pty2 {
    position: absolute;
    right: 0;
    top: 10.4%;
    height: 1%;
    z-index: 1;
  }
  #ptyhoja {
    top: 39.2%;
  }
  #li-pedasi{
    width: 100%;
  }
  .ancon-column {
    min-height: 67vh !important;
  }
  .senderismo-column {
    min-height: 94vh!important;
  }
  #ptyhoja {
    top: 39.2% !important;
    height: .8% !important;
  }
}


@media only screen and (max-height: 736px){
  #reserva-link {
    color: #5A5C54;
    text-align: center;
    margin-bottom: 60px;
    font-size: 12px;
    width: 85%;
    margin: auto;
  }
  #panama-title {
    padding-bottom: 1%;
    width: 90%;
    margin: auto;
  }
  .hoja-pty1 {
    position: absolute;
    height: 1.3%;
    top: 2.5%;
    z-index: 1;
  }
  .hoja-pty2 {
    position: absolute;
    right: 0;
    top: 9.8%;
    height: 1.2%;
    z-index: 1;
  }
  .sanblas-column {
    min-height: 37vh !important;
  }
  #canal-pic2 {
    height: 302px;
    width: 100%;
  }
  .hoja-pty4 {
    position: absolute;
    height: 1.5%;
    top: 31%;
    z-index: 1;
  }
  #ptyhoja {
    top: 39.5%;
  }
  .senderismo-column {
    min-height: 71vh;
  }
  .ancon-column {
    min-height: 58vh ;
  }
  .valle-column {
    min-height: 61vh ;
  }
  .LocationInfoRight li {
    width: 51%;
  }
}

@media only screen and (max-height: 640px){
  .hoja-pty1 {
    position: absolute;
    height: 1.3%;
    top: 2.5%;
    z-index: 1;
  }
  .hoja-pty4 {
    position: absolute;
    height: 1.5%;
    top: 31%;
    z-index: 1;
  }
  .senderismo-column {
    min-height: 80vh!important;
}
}


